<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="/static/img/css/pintuer.css">
<link rel="stylesheet" href="/static/img/css/admin.css">
<script src="/static/img/js/jquery.js"></script>
<script src="/static/img/js/pintuer.js"></script>
<!-- 引入富文本编辑器 -->
<script type="text/javascript" charset="utf-8" src="/static/com/ue/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/com/ue/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/static/com/ue/lang/zh-cn/zh-cn.js"></script>
<!-- 引入富文本编辑器 -->
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加新闻</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="{:url('add')}" enctype="multipart/form-data">  
      <div class="form-group">
        <div class="label">
          <label><sapn style="color:red;">*</sapn>标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="title" data-validate="required:请输入标题" />
          <div class="tips"></div>
        </div>
      </div>
       <div class="form-group">
        <div class="label">
          <label><sapn style="color:red;">*</sapn>新闻所属类别：</label>
        </div>
        <div class="field">
          <select name="pname">
          {volist name="fl" id="vo"}
            <option  value="{$vo.name}">{$vo.name}</option>
          {/volist}
          </select>
          <div class="tips"></div>
        </div>
      </div>
        <div class="form-group">
          <div class="label">
            <label><sapn style="color:red;">*</sapn>是否推荐：</label>
          </div>
          <div class="field" style="padding-top:8px;"> 
            <input name="isvouch" type="radio" value="1" checked="checked" />是
            <input name="isvouch" type="radio" value="0" />否 
          </div>
        </div>
      <div class="form-group">
        <div class="label">
          <label><sapn style="color:red;">*</sapn>内容：</label>
        </div>
        <div class="field">
          <textarea name="content"  id="myueditor" placeholder="请输入问答内容" class="input"  style="height:450px; border:1px solid #ddd;" data-validate="required:请输入问答内容"></textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label><sapn style="color:red;">*</sapn>关键字：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="keywords" value=""  data-validate="required:请输入关键字"/>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label><sapn style="color:red;">*</sapn>关键字描述：</label>
        </div>
        <div class="field">
          <textarea type="text" class="input" name="description" style="height:80px;" data-validate="required:请输入关键字描述" ></textarea>
        </div>
      </div>
      <div class="form-group">
          <div class="label">
            <label><sapn style="color:red;">*</sapn>URL：</label>
          </div>
          <div class="field" style="padding-top:8px;"> 
            <input name="xw_url" type="text" value="">
          </div>
        </div>
      <div class="form-group">
        <div class="label">
          <label>点击次数：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="hits" value=""   />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

</body>
</html>
<script type="text/javascript">
    //实例化编辑器
    var ue = UE.getEditor('myueditor');
</script>